jawiki-all-titles/jawiki-latest-all-titles-in-ns0.counts 
mozc/mozcdic.txt 
mozcdic-ut-* 
mozcdic-ut.txt 
neologd/mecab-user-dict-seed.20200910.csv 
neologd/mozcdic-neologd.txt 
sudachidict/core_lex.csv 
sudachidict/mozcdic-sudachidict-notcore.txt 
sudachidict/notcore_lex.csv 
